@font-face {
  font-family: 'Lora';
  src: url('lrumahl-0.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('lrumahl-1.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('lrumahl-2.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('lrumahl-3.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('lrumahl-4.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
