.vscode/**
.vscode-test/**
src/**
**/*.map
**/*.ts
!out/**/*.js
.gitignore
.git/**
tsconfig.json
*.vsix
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/.github/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.map
