@font-face {
  font-family: 'Inter';
  src: url('inter-0.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('inter-1.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('inter-2.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
