@font-face {
  font-family: 'Courier Prime';
  src: url('courier-prime-0.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Courier Prime';
  src: url('courier-prime-1.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Courier Prime';
  src: url('courier-prime-2.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
